# Python gereksizleri
backend/venv/
backend/__pycache__/
*.pyc

# Gizli dosyalar
backend/.env

# İstenmeyen Başlatma ve Ekran Görüntüsü Dosyaları
backend/screenshots/
backend/baslat.bat
start.bat.txt

# React / Node gereksizleri
frontend/node_modules/
frontend/build/
frontend/dist/

# IDE ve Sistem gereksizleri
.idea/
.vscode/
.DS_Store